<div class="hero-unit" align="center">

<h1>Comissão Organizadora</h1>
<br/>
<h3>Docentes:</h3>
<p>Susana Webering (UFRuralRJ)</p>
<p>Vicente Nepomuceno (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Fernando Araujo (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Sandra Rufino (UFOP)</p>
<p>Fernanda Araujo (UFOP Campus João Monlevade)</p>
<p>Flavio Chedid (IPPUR/ UFRJ)</p>
<p>Felipe Ador (Poli/ UFRJ)</p>
<br/>
<h3>Discentes:</h3>
<p>Marta Batista (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Evandro Moreira (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Antonelli Santos (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Rodrigo Barbosa (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Antonelli Santos (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Beatriz Castro (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Vinicius Guilherme Abrantes (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Bruna Biasotto (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Renata Medeiros (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Raphael Brandão (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Jefferson Rafael Marques (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Alex Sant’Anna (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Marina Rosa (CEFET/RJ UnED Nova Iguaçu)</p>
<p>Mario Victor (CEFET/RJ UnED Nova Iguaçu)</p> 

</div>
