<div class="hero-unit">
<h1>Contatos</h1>
<br/>
<p><b>Diretório Acadêmico:</b> (21) 2886-8905</p>
<p><b>Email:</b> eredssudeste2012@gmail.com </p>
<p><b>Facebook:</b> <a class="btn" href="https://www.facebook.com/pages/Ereds-Sudeste/283506018387268">Acesse aqui!</a></p>
<p><b>Twitter:</b> <a class="btn" href="https://twitter.com/#!/2eredssudeste">Acesse aqui!</a></p>
</div>
