<div class="hero-unit" align="justify">

<h1>O Encontro</h1>
<br/>
<br/>
<p><b>Local e data:</b></p>

<p>O II EREDS Sudeste será realizado nos dias 14 e 15 de junho de 2012 no Centro Federal de Educação Tecnológica Celso Sucow da Fonseca Unidade de Ensino Descentralizada de Nova Iguaçu - <b>CEFET-RJ / UnED NI</b> e na Universidade Federal Rural do Rio de Janeiro Campus Nova Iguaçu -<b>UFRRJ - Campus Nova Iguaçu</b> </p>
<br/>
<p><b>O que é o EREDS - Encontro Regional de Engenharia e Desenvolvimento Social? </b></p>

<p>É um evento de âmbito regional dedicado a conscientização acadêmica e profissional para o desenvolvimento social. O evento propõe-se a reduzir as distâncias e barreiras entre profissionais, estudantes e interessados que desejem aprofundar seus conhecimentos sobre a contribuição da engenharia para o desenvolvimento social. Proporcionando intercâmbio entre as Universidades e os diferentes atores locais que estão desenvolvendo tecnologias sociais na região sudeste.</p>
<br/>
<p><b>Objetivo:</b></p>
<ul>
   <li><p>Propiciar uma reflexão sobre as possibilidades de atuação e pesquisa em engenharia relacionadas ao desenvolvimento social;</p></li>
   <li><p>Aproximar a universidade da comunidade buscando a construção de um conhecimento dialógico;</p></li>
   <li><p>Conhecer projetos de desenvolvimento social na baixada fluminense e refletir as possíveis maneiras do conhecimento acadêmico estar atuando de forma positiva nos mesmos.</p></li>
   <li><p>Debater o papel da universidade no desenvolvimento social do país e as potenciais contribuições dos projetos de extensão nesse sentido;</p></li>
   <li><p>Divulgar projetos de engenharia voltados para o desenvolvimento social;</p></li>
   <li><p>Divulgar e debater a Economia Solidária e as Tecnologias Sociais;</p></li>
   <li><p>Sensibilizar estudantes de graduação para a extensão universitária;</p></li>
   <li><p>Firmar-se como evento da área no país, reunindo anualmente comunidade acadêmica e membros da sociedade, no sentido de uma contribuição efetiva e permanente para o desenvolvimento regional.</p></li>
</ul>
<br/>
<p><b>Eixos das reflexões:</b></p>
<ul>
   <li><p>Economia solidária e modelos de desenvolvimento;</p></li>
   <li><p>A Baixada fluminense e suas lutas;</p></li>
   <li><p>Equilíbrio ambiental, desastres naturais e eco capitalismo na baixada fluminense;</p></li>
   <li><p>O papel da engenharia e da tecnologia na sociedade.</p></li>
</ul>
</div>
