<div class="hero-unit" align="justify">
<h1>ENEDS: A origem</h1>
<br/><br/>

<p>O EREDS, surgiu como proposta no sétimo Encontro Nacional de Engenharia e Desenvolvimento Social – ENEDS. Evento que caminha para a nona edição e que se consolidou como referência no campo científico e tecnológico das áreas “exatas” voltados para questão do desenvolvimento social. Nos último ENEDS o interesse das universidades em participar da organização dos eventos aumentou muito. E como forma de permitir que mais debates voltados para a realidade local de cada universidade pudessem ocorrer e influenciar os encontros nacionais, surgiram os encontros regionais.</p>
 
<p>O I EREDS ocorreu na Universidade Federal de Ouro Preto na cidade de João Monlevade e congregou professores e pesquisadores de diferentes estados da região sudeste.</p>

<p><a class="btn btn-large" href="http://www.eneds.ct.ufrn.br/">Acesse aqui o site do IX EREDS</a></p>

</div>
