<div class="hero-unit">
   <h1>EREDS Sudeste 2012</h1>
   <p> Encontro Regional de Engenharia e Desenvolvimento Social</p>
   <h5>31 de maio e 01 de junho</h5>
   <h3>Nova Iguaçu - RJ</h3>
<!-- <p>O EREDS &eacute; um evento de &acirc;mbito regional dedicado a conscientização acad&ecirc;mica e profissional para o desenvolvimento social. Numa perspectiva dial&oacute;gica, o evento busca reunir atores externos e internos a universidade para debater as possibilidades de contribui&ccedil;&atilde;o da engenharia para o desenvolvimento social, apresentando um caminho importante a ser trilhado a extens&atilde;o universit&aacute;ria.</p> -->
</div>   

<div class="row-fluid">
   <div class="span4">
      <h2>Inscreva-se!!!</h2>
      <p>N&atilde;o perca esta oportunidade!!! As inscri&ccedil;&otilde;es on-line j&aacute; est&atilde;o abertas!</p>
      <p><a class="btn btn-primary btn-large" href="#">Clique aqui &raquo;</a></p>
   </div><!--/span-->
   <div class="span4">
      <h2>Hospedagem solid&aacute;ria</h2>
      <p>N&atilde;o tem onde ficar? T&aacute; sem grana?</p>
      <p><a class="btn" href="#">Saiba mais &raquo;</a></p>
   </div><!--/span-->
   <div class="span4">
      <h2>A regi&atilde;o</h2>
      <p>Conhe&ccedil;a mais da regi&atilde;o que sediar&aacute; esta edi&ccedil;&atilde;o do EREDS. </p>
      <p><a class="btn" href="#">Saiba mais &raquo;</a></p>
   </div><!--/span-->
</div><!--/row-->
