<div class="hero-unit">
   <h1>EREDS Sudeste</h1>
   <p>Encontro Regional de Engenharia e Desenvolvimento Social</p>
   <h5>14 e 15 de junho de 2012</h5>
   <h3>Nova Iguaçu - RJ</h3>
</div>   

<div class="row-fluid">
   <div class="span4">
      <h2>Inscreva-se!!!</h2>
      <p>N&atilde;o perca esta oportunidade!!! As inscri&ccedil;&otilde;es on-line j&aacute; est&atilde;o abertas!</p>
      <p><a class="btn btn-large" href="/participantes/new">Clique aqui &raquo;</a></p>
   </div><!--/span-->
   <div class="span4">
      <h2>Hospedagem solid&aacute;ria</h2>
      <p>N&atilde;o tem onde ficar? T&aacute; sem grana?</p>
      <p><a class="btn" href="/hospedaria">Saiba mais &raquo;</a></p>
   </div><!--/span-->
   <div class="span4">
      <h2>A regi&atilde;o</h2>
      <p>Conhe&ccedil;a mais da regi&atilde;o que sediar&aacute; esta edi&ccedil;&atilde;o do EREDS. </p>
      <p><a class="btn" href="/home/regiao">Saiba mais &raquo;</a></p>
   </div><!--/span-->
</div><!--/row-->
