<div class="hero-unit">

<h1>Outros EREDS</h1>

<br/>

<p>
   <a href="http://www.eneds.ct.ufrn.br/index.php?option=com_content&view=article&id=9&Itemid=10" target="_blank"><%= image_tag "eredsNordeste.png" %></a>
   <a href="http://www.eneds.ct.ufrn.br/index.php?option=com_content&view=article&id=10&Itemid=12" target="_blank"><%= image_tag "eredsNorte.png" %></a>
</p>

</div>
