<div class="hero-unit">

<h1>Como chegar? (de ônibus)</h1>
<br/><br/>
<h2>Da Central do Brasil - Rio de Janeiro:</h2>
<br/>
<p>1)No Terminal Rodoviário Américo Fontenele, pegar o ônibus da empresa Tinguá para Vila de Cava. O ônibus passa num ponto em frente ao CEFET NI, caso deseje ir para a UFRural campus NI, além do Vila de Cava, você pode pegar a linha Miguel Couto e precisará descer no viaduto da Posse e caminhar por 5 minutos até a UFRural campus NI, que fica em frente à garagem da Linave;</p>

<p>2)Na Central, pegar trem para Japeri, descer no Centro de Nova Iguaçu e pegar um ônibus para o CEFET ou UFRural NI.</p>
<br/>
<h2>Do Centro de Nova Iguaçu:</h2>
<br/>

<p>Ônibus para o CEFET:</p>
<p>Empresa São José - Linhas: Santa Rita, Vila de Cava, Tinguá.</p>
<p>Empresa Linave - Linhas: Bairro Amaral, Adrianópolis, Nova Brasília.</p>
<p>Empresa Salutran - Linhas: Gerard Danon, Corumbá.</p>

<p>Todos que passam em frente ao CEFET NI, passam em frente à UFRural NI.</p>
<p>Caso deseje ir para a UFRural NI, além dos ônibus listados acima, também pode pegar a linha Miguel Couto da empresa Linave.</p>
<p>Os pontos finais de todos os ônibus listados ficam em frente à estação de trem, na Praça da Liberdade, Centro de Nova Iguaçu.</p>

</div>
