<div class="hero-unit" align="justify">
<h1>Troca de experiências</h1>

<p><b> O que é?</b></p>

<p>É um espaço de troca e construção de saberes, onde pesquisadores, estudantes, docentes, profissionais, representantes da comunidade, extensionistas e pesquisadores tem a oportunidades de relatar suas experiências e debater com outros sobre suas vivências, metodologias, êxito e dificuldades, com experiências em áreas de desenvolvimento social.</p>
<br/>

<p><a class="btn btn-primary btn-large" href="http://www.eneds.ct.ufrn.br/index.php/circuito/experienciasaprovadas" target="_blank"><b>Veja aqui as experiências aprovadas</b></a></p>

<div>
