<div class="hero-unit" align="justify">
<h1>Troca de experiências</h1>

<p><b> O que é?</b></p>

<p>É um espaço de troca e construção de saberes, onde pesquisadores, estudantes, docentes, profissionais, representantes da comunidade, extensionistas e pesquisadores tem a oportunidades de relatar suas experiências e debater com outros sobre suas vivências, metodologias, êxito e dificuldades, com experiências em áreas de desenvolvimento social.</p>
<br/>

<p><b>Como faço para inscrever meu projeto?</b></p>
<p>Encontro Regional de Engenharia e Desenvolvimento Social do Sudeste divulga sua chamada para exposição de experiências de projetos ou grupos neste encontro, através do site do ENEDS 2012, onde os grupos propositores devem preencher sua ficha de inscrição no formulário online.<p>
<p><a class="btn" href="http://kwiksurveys.com/online-survey.php?survey_ID=LNILFF_889be2a9&preview">Clique aqui para acessar o formulário</a></p>
<p>A data limite de submissão será 22 de abril de 2012.</p>
<div>
