<div class="hero-unit" align="justify">
<h1 align="center">Espaços de Discussão do Circuito de Experiências</h1>
<br/><br/>
<p>O Circuito de Experiências promovido pelo EREDS tem o intuito de promover o diálogo, trocar saberes, ouvir e falar, e perceber a riqueza de possibilidades de intervenção que o espaço universitário oferece. O encontro visa observar as contribuições de distintas iniciativas para a constituição de novas universidades. Nesse sentido, as Experiências relacionadas nos dão pistas sobre as possibilidades de edificação de “novas universidades”, capazes de dialogar com as comunidades, que utilizem seus conhecimentos técnicos em prol do desenvolvimento socioambiental, que formulem propostas a temas tão fundamentais como saúde e direitos humanos e que também compreendam o quão importante é conhecer as questões relacionadas à produção e ao território em suas diferentes manifestações durante o tempo/ espaço.</p>

<p>Participe do Circuito de Experiências, dia 14 de junho, às 13h30min, no CEFET/RJ UnED Nova Iguaçu. Venha conhecer, compartilhar conosco a sua percepção/ experiência e refletir sobre oportunidades de efetivação do processo de construção de novas universidades.</p>

<h3>Organização dos eixos de discussão:</h3>
<p><ul>
   <li>15 min de apresentação para cada experiência;</li>
   <li>15 min para esclarecimentos pontuais;</li>
   <li>15 min de pausa para o café;</li>
   <li>2h para debate.</li>
</ul>
</p>

<div>
