<p>Ol&aacute; <%= @participante.nome %>, seja bem vindo ao EREDS 2012 </p>
<p>Seu n&uacute;mero de inscri&ccedil;&atilde;o &eacute;: <b> <%= "%05d" % @participante.id %></b> </p>
<br/>
<p>--<br/>
Atenciosamente,<br/>
Comiss&atilde;o Organizadora<br/>
EREDS Sudeste 2012.<br/>
</p>
